html, body, div, span, h1, h2, h3, h4, h5, h6, p, ul, ol, li, dl, dt, dd, img, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, a, article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section {
  /* Cancel out some differences between browser defaults */
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
}
* {
  /* The width of an element will be the size of its border box, not its content box (which is the normal default). */
  box-sizing: border-box;
}

/* VARIABLES */
:root {
 --light-blue: rgb(127, 198, 216);
 --dark-blue: rgb(112, 175, 191);
 --light-green: rgb(91, 186, 87);
 --dark-green: rgb(77, 158, 74);
 --grey-boarder: rgb(84, 85, 85);
 --light-grey: #D3D3D3FF;
}



/* HEADER */

#banner h1 {
  margin:  1.5em 1em;
  display: flex;
}
#banner{
  display: flex;
  width: 100%;
  justify-content: center;
  background-image: linear-gradient( var(--light-green), var(--dark-green) );
}
#login{
  margin: 1em auto;
}
#subbtn {
  margin: .5em auto;
}

/* BODY */
#home-body {
  width: 30rem;
  margin: 0 auto;
}

.content textarea {
  resize: none;
}
#main {
  width: 100%;
  margin: 0 auto 3rem auto;
  display: flex;
}
#content {
  order: 2;
  width: 100%;
  margin: 1.5em .5em;
  padding-left: 1.5em;
  padding-right: 1.5em;
  /* background-color: yellow; */
  border: 1px solid var(--light-grey);
  border-radius: 0.5em;
}


/* TABLE */


#srchbtn {
  margin: .5em auto;
}
#rstbtn {
  margin: .5em auto;
}
table, th, td {
  border: 1px solid black;
  padding: .5em;
}
table th {
  font-size: 1.25em;
}


/* FOOTER */
footer {
  /* width: 100%; */
  margin: auto; 
  border-top: 2px solid #333;
  background-image: linear-gradient( var(--light-green), var(--dark-green) );
  /*background-color: var(--light-green);*/
  min-height: 18rem;
  /*position: relative;*/
  /* text-decoration: none; */
}
footer ul {
	list-style-type: none;
	padding-top: 1em;
}
footer li {
	margin: 0 1em;
}
footer li a{
  color: black;
}
footer ul {
  display: flex;
  margin: auto 0;
  justify-content: center;
}

#bottomMenu {
  width: 100%;
  margin: 0 auto;
}





/* TYPOGRAPHY */
body {
  font-family: 'Open Sans', sans-serif;
  color: #333;
}
h1 {
  font-size: 3em;
  margin-bottom: 0.5em;
}
h2 {
  font-size: 1.5em;
  margin-bottom: 0.5em;
}
#banner h1, #banner p, footer ul, #bottomMenu ul li a{
  color: #fff;
}
